{% extends "base.html" %}
{% import "macros/project.html" as project %}

{% block meta %}
  {% set_global meta_title = page.title ~ " (@" ~ page.extra.github ~ ") / " ~ config.title %}
  {% set_global meta_description = "Open source projects by @" ~ page.extra.github ~ " at " ~ config.title ~ "." %}
{% endblock meta %}

{% block body %}
{% set_global projects = [] %}
{% for f in config.extra.project_files %}
  {% set_global projects = projects | concat(with=load_data(path="data/projects/" ~ f ~ ".yml")) %}
{% endfor %}
{% set_global projects = projects | sort(attribute="stars") | reverse %}

{% set all = load_data(path="data/featured.yml") | concat(with=projects) %}
{% set mine = all | filter(attribute="author_github", value=page.extra.github) %}

<header class="topbar">
  {% set brand = true %}
  {% include "partials/nav.html" %}
</header>

<main class="container">
  <div class="hstack author-head">
    {% if page.extra.avatar %}
    <img class="avatar" src="{{ get_url(path=page.extra.avatar) }}" alt="">
    {% endif %}
    <div>
      <h1>{{ page.title }}</h1>
      <nav class="hstack author-meta">
        <a href="https://github.com/{{ page.extra.github }}"><img class="icon" src="{{ get_url(path='git.svg') }}" alt="" width="14" height="14">@{{ page.extra.github }}</a>
        {% if page.extra.homepage %}
        <a href="{{ page.extra.homepage }}"><img class="icon" src="{{ get_url(path='globe.svg') }}" alt="" width="14" height="14">{{ page.extra.homepage | trim_start_matches(pat="https://") | trim_start_matches(pat="http://") | trim_end_matches(pat="/") }}</a>
        {% endif %}
        {% if page.extra.email %}
        <a href="mailto:{{ page.extra.email }}">{{ page.extra.email }}</a>
        {% endif %}
      </nav>
    </div>
  </div>
  {% if page.content %}<div class="intro">{{ page.content | safe }}</div>{% endif %}

  <section id="projects">
    <div class="section-head">
      <h2>Projects ({{ mine | length }})</h2>
    </div>
    {{ project::grid(projects=mine) }}
  </section>
</main>
{% endblock body %}
