{% extends "base.html" %}
{% import "macros/project.html" as project %}

{% block title %}{{ config.title }} / {{ config.extra.tagline }}{% endblock title %}

{% block body %}
{% set featured = load_data(path="data/featured.yml") %}

{% set_global projects = [] %}
{% for f in config.extra.project_files %}
  {% set_global projects = projects | concat(with=load_data(path="data/projects/" ~ f ~ ".yml")) %}
{% endfor %}
{% set_global projects = projects | sort(attribute="stars") | reverse %}

<header class="hero">
  {% include "partials/nav.html" %}
  <div class="hero-inner container">
    <h1>4th Cross Labs</h1>
    <p class="intro">{{ section.extra.intro }}</p>

    <br />
    <a href="https://zerodha.tech"><img src="{{ get_url(path='zerodha.svg') }}" alt="Zerodha-tech logo" class="hero-logo" /></a>
  </div>
</header>

<main class="container">
  <section id="projects">
    <div class="section-head">
      <h2>Featured projects ({{ featured | length }})</h2>
      <p>Full-featured, self-hosted applications ready to run out of the box. The <img src="{{ get_url(path='zerodha-icon.svg') }}" alt="Zerodha icon" width="14" height="14" style="vertical-align: middle" /> icon indicates projects in use in production at <a href="https://zerodha.tech">Zerodha</a>.</p>
    </div>
    {{ project::grid(projects=featured, class="wide") }}
  </section>

  <br /><br />
  <section id="libraries">
    <div class="section-head">
      <h2>Projects ({{ projects | length }})</h2>
      <p>Libraries, services, tools.</p>
    </div>
    {{ project::grid(projects=projects) }}
  </section>
</main>
{% endblock body %}
